<div class="container text-dark">
    <div  class="row justify-content-evenly">
      <div class="card mt-2 col-5" *ngFor="let post of posts">
       <!--  <div class="card-header">
          {{users.get(post.userId)}} idUser: {{post.userId}}
        </div> -->
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.body}}</p>
          <a routerLink="/users/{{post.userId}}" class="btn btn-primary me-2">User Details</a>
          <a routerLink="/profile/posts/{{post.id}}/comments" class="btn btn-primary">comments</a>
        </div>
      </div>
    </div>
  </div>