<div class="container  text-dark">
  <div class="card bg-card">
    <div class="card-header d-flex justify-content-between">
      <p class="fs-3 text-white">{{user.name}}</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{user.website}}</h5>
      <hr>
      <div class="card border-primary mb-3">
        <div class="card-header">Company: {{user.company.name}}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{user.company.bs}}</h5>
          <p class="card-text">{{user.company.catchPhrase}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <button class="btn btn-outline-light me-2 mb-2" (click)="onClick('posts')" value="post">My Posts</button>
    <button class="btn btn-outline-light me-2 mb-2" (click)="onClick('albums')" value="album">My Albums</button>
    <button class="btn btn-outline-light me-2 mb-2" (click)="onClick('todos')" value="todos">My TO-DOs</button>
    <div *ngIf="view === 'posts'">
      <app-new-post [user]="user"></app-new-post>
      <app-my-post *ngFor="let post of posts" [postAux]="post"></app-my-post>
    </div>
    <div *ngIf="view === 'albums'">
      <app-new-album [user]="user"></app-new-album>
      <app-my-album *ngFor="let album of albums" [album]="album"></app-my-album>
    </div>
    <div *ngIf="view === 'todos'">
      <app-new-to-do [user]="user"></app-new-to-do>
      <app-to-do *ngFor="let toDo of toDos" [todo]="toDo"></app-to-do>
    </div>
  </div>
</div>