<div class="container  text-dark">
  <div class="card bg-card">
    <div class="card-header">{{user.name}}</div>
    <div class="card-body">
      <h5 class="card-title">{{user.website}}</h5>
      <hr>
      <div class="card border-primary mb-3">
        <div class="card-header">Company: {{user.company.name}}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{user.company.bs}}</h5>
          <p class="card-text">{{user.company.catchPhrase}}</p>
        </div>
      </div>
    </div>
  </div>
</div>